.ipynb_checkpoints/
.DS_Store
*.zip
hw2/data/
hw3/data/
hw4/q2_2_data.mat
hw4/*.m~
hw4/*.mat
hw4/*.png
hw4/*.csv
hw4/*.jpg
hw5/bigbangtheory/
hw5/digit/
hw5/src/*.m~
hw5/libsvm-3.23/
hw5/bigbangtheory_v2/
hw5/sample_submission.csv
